{% extends "base.twig" %}

{% block main %}
    <form action="" method="post">
        <!-- default button for HTML form, fix issues with the enter key -->
        <div class="invisible">
            {% if can_continue|default(false) %}
                <input type="submit" name="continue" value="1">
            {% elseif can_save|default(false) %}
                <input type="submit" name="save" value="1">
            {% endif %}
        </div>

        {% block headline %}
            <div class="row headline">
                <h2>{{ title }}</h2>
                <p>{{ description }}</p>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

        <div class="row">
            <p class="mt">
                {% if can_continue|default(false) %}
                    <button type="submit" class="button main" name="continue" value="1">{% trans %}config.continue{% endtrans %}</button>
                {% elseif can_save|default(false) %}
                    <button type="submit" class="button" name="save" value="1">{% trans %}config.save{% endtrans %}</button>
                    <button type="submit" class="button main" name="continue" value="1">{% trans %}config.saveContinue{% endtrans %}</button>
                {% endif %}
            </p>
        </div>
    </form>
{% endblock %}