{% extends "base.twig" %}

{% block main %}
<div class="row">
    <h2>{% trans %}Overview{% endtrans %}</h2>
</div>
<div class="row">
    <h3>PHP <?php echo phpversion() ?></h3>
    <ul>
        <?php if ($this->supportsContao2()): ?>
        <li class="confirm">{% trans %}You can install Contao 2.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 2.x (requires PHP %s+)'), $this->getContao2Version()) ?></li>
        <?php endif; ?>
        <?php if ($this->supportsContao3()): ?>
        <li class="confirm">{% trans %}You can install Contao 3.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 3.x (requires PHP %s+)'), $this->getContao3Version()) ?></li>
        <?php endif; ?>
        <?php if ($this->supportsContao4()): ?>
        <li class="confirm">{% trans %}You can install Contao 4.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 4.x (requires PHP %s+)'), $this->getContao4Version()) ?></li>
        <?php endif; ?>
    </ul>
</div>
<div class="row">
    <h3>{% trans %}File permissions{% endtrans %}</h3>
    <ul>
        <?php if (!$this->canCreateFiles()): ?>
        <li class="confirm">{% trans %}The PHP process is allowed to create files.{% endtrans %} <a href="./?c=file-permissions">{% trans %}More information …{% endtrans %}</a></li>
        <?php else: ?>
        <li class="error">{% trans %}The PHP process is not allowed to create files.{% endtrans %} <a href="./?c=file-permissions">{% trans %}More information …{% endtrans %}</a></li>
        <?php endif; ?>
    </ul>
</div>
<div class="row">
    <h3>{% trans %}Additional services{% endtrans %}</h3>
    <ul>
        <?php if ($this->canUseLiveUpdate()): ?>
        <li class="confirm">{% trans %}You can use the Live Update.{% endtrans %} <a href="./?c=live-update">{% trans %}More information …{% endtrans %}</a></li>
        <?php else: ?>
        <li class="error">{% trans %}You cannot use the Live Update.{% endtrans %} <a href="./?c=live-update">{% trans %}More information …{% endtrans %}</a></li>
        <?php endif; ?>
        <?php if ($this->canUseComposer()): ?>
        <li class="confirm">{% trans %}You can use the Composer package manager.{% endtrans %} <a href="./?c=composer">{% trans %}More information …{% endtrans %}</a></li>
        <?php else: ?>
        <li class="error">{% trans %}You cannot use the Composer package manager.{% endtrans %} <a href="./?c=composer">{% trans %}More information …{% endtrans %}</a></li>
        <?php endif; ?>
        <?php if ($this->canUseRepository()): ?>
        <li class="confirm">{% trans %}You can use the Extension Repository.{% endtrans %} <a href="./?c=repository">{% trans %}More information …{% endtrans %}</a></li>
        <?php else: ?>
        <li class="error">{% trans %}You cannot use the Extension Repository.{% endtrans %} <a href="./?c=repository">{% trans %}More information …{% endtrans %}</a></li>
        <?php endif; ?>
    </ul>
</div>
<div class="row">
    <p class="mt"><a href="./?c=installer" class="button orange">{% trans %}Install Contao{% endtrans %}</a> <a href="./?c=validator" class="button">{% trans %}Validate an existing installation{% endtrans %}</a></p>
</div>
{% endblock %}