{% extends "base.twig" %}

{% block main %}
<div class="row headline">
    <h2>{% trans %}execute.headline{% endtrans %}</h2>
    <p>{% trans %}execute.intro{% endtrans %}</p>
</div>

{% if error %}
    <div class="row error">
        {# TODO: make this translatable #}
        <h3>{% trans %}execute.error_headline{% endtrans %}</h3>
        <p>{% trans %}execute.error_description{% endtrans %}</p>
        <p class="mt">
            <a href="{{ base_url }}/" class="button main">{% trans %}execute.error_button{% endtrans %}</a>
        </p>
    </div>
{% else %}
    <form action="" method="post">
        <div class="row">
            {# TODO: make this translatable #}
            <h3>Click to action</h3>
            <p>Click the button to execute the migration.</p>
        </div>
        <div class="row">
            <p class="mt">
                <a href="" class="button">{% trans %}execute.back{% endtrans %}</a>
                <button type="submit" class="button float_right main" name="continue" value="1">{% trans %}execute.continue{% endtrans %}</button>
                <button type="submit" class="button float_right" name="cancel" value="1" onclick="return confirm('{% trans %}execute.cancel_confirm{% endtrans %}')">{% trans %}execute.cancel{% endtrans %}</button>
            </p>
        </div>
    </form>
{% endif %}

{% endblock %}