{% extends "base.twig" %}

{% block main %}
<div class="row headline">
    <h2>{% trans %}index.headline{% endtrans %}</h2>
    <p>{% trans %}index.intro{% endtrans %}</p>
</div>
<div class="row">
    <h3>Prerequisites</h3>
    <p>Before you start, make sure your installation matches our expectations. The migration tool will not be able to run if you do not correctly prepare your database.</p>
    <ol>
        <li>Make sure you are on the latest Isotope version (v1.4.8). If you are using an older version, you must first upgrade to v1.4.8 which will adjust existing v0.2/v1.3 databases.</li>
        <li>Update Contao to version 3.3 prior to running the migration tool. The new DBAFS (UUID info) must be available to run the migration successfully.</li>
    </ol>
    <p>If you do not follow these requirements, the database will not be ready and the migration steps will report errors.</p>
</div>
<div class="row">
    <h3>What you must know</h3>
    <p>The migration tool will convert the database from Isotope version 1.4.8 to version 2. It will NOT touch any of your files and it will NOT change any templates.
        A lot of templates have changed in Isotope 2 and your customizations will no longer work. It is very likely you will need to start from scratch with your template adjustments.</p>
    <p>Due to the API changes, we assume ALL existing extensions for Isotope 1.4 will no longer work with version 2. If you have installed any Isotope-related extension, check for available updates
    or contact the developers if necessary. We will try not to destroy any third-party data, but we can guarantee...</p>
</div>
<div class="row">
    <h3>Many Thanks!</h3>
    <p>The migration tool would not have been possible without our community. Thanks to the donators on our fundraising:<br>
        Kim Wormer, Monique Hahnefeld, Websache, Cyrill Weiss, Karlheinz Büscher, Holger Neuner, Mingel2k
        <!-- TODO: Update this list! -->
    </p>
</div>
<div class="row">
    <p class="mt"><a href="{{ base_url }}/config" class="button main">{% trans %}index.start{% endtrans %}</a></p>
</div>
{% endblock %}