{% extends "base.twig" %}

{% block main %}
<div class="row headline">
    <h2>{% trans %}base.welcome{% endtrans %}</h2>
</div>
<div class="row">
    <p class="mt"><a href="{{ base_url }}/config" class="button main">{% trans %}index.start{% endtrans %}</a></p>
</div>
{% endblock %}