{% extends "base.twig" %}

{% block main %}
<div class="row headline">
    <h2>{% trans %}Overview{% endtrans %}</h2>
</div>
<div class="row">
    <h3>PHP <?php echo phpversion() ?></h3>
    <ul>
        <?php if ($this->supportsContao2()): ?>
        <li class="confirm">{% trans %}You can install Contao 2.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 2.x (requires PHP %s+)'), $this->getContao2Version()) ?></li>
        <?php endif; ?>
        <?php if ($this->supportsContao3()): ?>
        <li class="confirm">{% trans %}You can install Contao 3.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 3.x (requires PHP %s+)'), $this->getContao3Version()) ?></li>
        <?php endif; ?>
        <?php if ($this->supportsContao4()): ?>
        <li class="confirm">{% trans %}You can install Contao 4.x{% endtrans %}</li>
        <?php else: ?>
        <li class="error"><?php printf(_('You cannot install Contao 4.x (requires PHP %s+)'), $this->getContao4Version()) ?></li>
        <?php endif; ?>
    </ul>
</div>
<div class="row">
    <p class="mt"><a href="{{ base_url }}/config" class="button main">{% trans %}Start configuration{% endtrans %}</a></p>
</div>
{% endblock %}