{% extends "base.twig" %}

{% block main %}
<div class="row headline">
    <h2>{% trans %}index.headline{% endtrans %}</h2>
    <p>{% trans %}index.intro{% endtrans %}</p>
</div>
<div class="row">
    {# TODO: make this translatable #}
    <h3>How to use this tool</h3>
    <p>Make sure to follow this procedure and your installation matches our expectations. The migration tool will not be able to run if you do not correctly prepare your database.</p>
    <ol>
        {# TODO: check if preparation steps are correct #}
        <li>Your installation must be update to Isotope version v1.4.8. If you are using an older version, you must first upgrade to v1.4.8, this which will adjust existing v0.2/v1.3 databases.</li>
        <li>Update Contao to version 3.3 (preferrably using <a href="http://www.inetrobots.com/shop/product_info.php?info=p12_contao-live-update-id.html&language=en" target="_blank">the Live-Update service</a>) and run the Contao install tool.</li>
        <li>Update the database using the Contao install tool; do create or change existing fields, but DO NOT delete anything.</li>
        <li>Now you can run this migration tool!</li>
        <li>Update Isotope to version 2.2 (either manually or using the extension repository).</li>
        <li>Also update any other extensions necessary.</li>
    </ol>
    <p style="text-decoration: underline">If you do not follow this process, the database might not be ready and the migration steps will report errors.</p>
</div>
<div class="row">
    <h3>What you must know</h3>
    <p>The migration tool will convert the database from Isotope version 1.4.8 to version 2. It will NOT touch any of your files and it will NOT change any templates.
        A lot of templates have changed in Isotope 2 and your customizations will no longer work. It is very likely you will need to start from scratch with your template adjustments.</p>
    <p>Due to the API changes, we assume ALL existing extensions for Isotope 1.4 will no longer work with version 2. If you have installed any Isotope-related extension, check for available updates
    or contact the developers if necessary. We will try not to destroy any third-party data, but we can't guarantee …</p>
</div>
<div class="row">
    <h3>Many Thanks!</h3>
    <p>The migration tool would not have been possible without our community. Thanks to the donators on our fundraising:<br>
        Kim Wormer, Monique Hahnefeld, Websache, Cyrill Weiss, Karlheinz Büscher, Holger Neuner, Mingel2k
        <!-- TODO: Update this list! -->
    </p>
</div>
<div class="row">
    <p class="mt"><a href="{{ base_url }}/config" class="button float_right main">{% trans %}index.start{% endtrans %}</a></p>
</div>
{% endblock %}
