{% extends "config.twig" %}

{% block content %}
    <fieldset class="row">
        <legend>{% trans %}service.mail_template.gateway_legend{% endtrans %}</legend>
        <p>{% trans %}service.mail_template.gateway_intro{% endtrans %}</p>
        <select name="mailGateway" class="select">
            <option value="0">{% trans %}service.mail_template.gateway_new{% endtrans %}</option>
            {% if mailGateways %}
                <optgroup label="{% trans %}service.mail_template.gateway_db{% endtrans %}">
                    {% for gateway in mailGateways %}
                        <option value="{{ gateway.id }}"{% if mailGateway == gateway.id %} selected{% endif %}>{{ gateway.title }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>
    </fieldset>
{% endblock %}
