{% extends "config.twig" %}

{% block content %}
    {% if old_methods %}
        <div class="row">
            <h3>{% trans %}service.payment_method.old_title{% endtrans %}</h3>
            <p>{% trans %}service.payment_method.old_explain{% endtrans %}</p>
            <ul>
                {% for payment in old_methods %}
                    <li>{% trans with {'%name%': payment.name, '%type%':payment.type} %}service.payment_method.name{% endtrans %}</li>
                {% endfor %}
            </ul>
            <p>{% trans %}service.payment_method.old_description{% endtrans %}</p>
        </div>
    {% endif %}

    {% if unknown_methods %}
        <div class="row">
            <h3>{% trans %}service.payment_method.unknown_title{% endtrans %}</h3>
            <p>{% trans %}service.payment_method.unknown_explain{% endtrans %}</p>
            <ul>
                {% for payment in unknown_methods %}
                    <li>{% trans with {'%name%': payment.name, '%type%':payment.type} %}service.payment_method.name{% endtrans %}</li>
                {% endfor %}
            </ul>
            <p>{% trans %}service.payment_method.unknown_description{% endtrans %}</p>
        </div>
    {% endif %}

    <div class="row">
        <h3>{% trans %}confirm.title{% endtrans %}</h3>
        <p>{% trans %}service.payment_method.confirmation{% endtrans %}</p>
        <input type="hidden" name="confirm" value="">
        <input type="checkbox" id="ctrl_confirm" name="confirm" value="1"{% if confirmed %} checked{% endif %}>
        <label for="ctrl_confirm">{% trans %}confirm.checkbox{% endtrans %}</label>
    </div>
{% endblock %}
