{% extends "base.twig" %}

{% block main %}
    <div class="row headline">
        <h2>{% trans %}base.summary{% endtrans %}</h2>
    </div>
    <div class="row">
        <ul>
        {% for service in messages %}
            <li>{{ service.title }}</li>
            <ul>
                {% for message in service.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
